<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Home{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background-color: #4D2B8C;">

    <header class="container">
        <h1>Welcome to Famio Shop</h1>
        <p>We are here to provide our best service</p>
    </header>

    <section class="content">
        {% block content %}
        {% endblock %}
    </section>

    <footer class="footer">
        2025 Famio online business platform || Contact admin
    </footer>

</body>

</html>