.container {
    font-weight: bold;
    align-content: center;
    color: #FFEF5F;
    background-color: #85409D;
    text-align: center;
    height: 150px;
}

.footer {
    color: #ffffff;
    text-shadow: rgb(36, 171, 171);
    text-align: center;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}